
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  color: var(--color-text);
  margin-top: 20px;
  text-align: center;
}

.App {
  text-align: center;
}
